includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 9
    scanFiles:
        - stubs/runway/Runway.php
        - stubs/runway/Resource.php
        - stubs/runway/ModelRepository.php
    universalObjectCratesClasses:
        - Statamic\Entries\Entry
        - Statamic\Taxonomies\LocalizedTerm
        - Statamic\Taxonomies\Term
        - Statamic\Contracts\Entries\Entry
        - Statamic\Contracts\Taxonomies\Term
